{{> menu id="dashboard"}}

{{#each bookmarks}}
  <section class="ui segment">
    <h2 class="ui header">
      {{Category}}
    </h2>
    <table class="ui table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Link</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        {{#each bookmarks}}
          <tr>
            <td>
              {{title}}
            </td>
            <td>
              <a href={{link}} target="_blank">{{title}}</a>
            </td>
            <td>
              {{description}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </section>
{{/each}}