<table class="ui table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Link</th>
          <th>Description</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        {{#each bookmark.bookmarks}}
          <tr>
            <td>
              {{title}}
            </td>
            <td>
              <a href={{link}} target="_blank">{{title}}</a>
            </td>
            <td>
              {{description}}
            </td>
            <td>
            <a href="/bookmark/{{../bookmark.id}}/deletebookmark/{{id}} "class="trash alternate outline icon"><i class ="trash alternate outline icon"></i></a>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>